.app-container {
  display: grid;
  grid-template-columns: 20em 1fr;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.sidebar {
  height: 100vh;
  background-color: var(--sidebar-color);
  color: var(--text-color);
}

.main-content {
  flex-grow: 1;
  height: 100vh;
  color: var(--text-color);
}
