.app-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.sidebar {
  width: 20em;
  height: 100vh;
  background-color: var(--sidebar-color);
  color: var(--text-color);
  position: fixed;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.main-content {
  flex-grow: 1;
  margin-left: 20em;
  transition: margin-left 0.3s ease;
  height: 100vh;
  color: var(--text-color);
}

.main-content.expanded {
  margin-left: 0;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: 95vh;
    transform: translateX(-100%);
  }

  .sidebar.visible {
    transform: translateX(0);
    overflow-y: auto;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
  }

  .toggle-sidebar-btn {
    position: fixed;
    top: 1em;
    left: 1em;
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    z-index: 1001;
    display: block;
  }
}

@media (min-width: 769px) {
  .toggle-sidebar-btn {
    display: none;
  }
}
