* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#maincontent-top-level {
  background-color: var(--background-color);
  color: var(--text-color);
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.animated-text {
  animation: bounce 2s ease-in-out;
}

.btn-primary {
  background-color: var(--accent-color);
  border: none;
}

.btn-primary:hover {
  background-color: var(--thumb-color);
}

.d-flex {
  height: 100%;
}

#main-heading {
  border-bottom: 0.3em solid var(--border-color);
}

#main-body {
  margin: auto auto;
  width: 50%;
}

#todos-display {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 90vh;
  max-height: 87%;
  width: 100%;
  margin: 0.5em auto;
  padding: 1em;
  overflow-y: auto;
  overflow-x: hidden;
}

#todos-display::-webkit-scrollbar {
  width: 0.5em;
}

#todos-display::-webkit-scrollbar-track {
  background: var(--slider-bg-color);
  border-radius: 0.5em;
}

#todos-display::-webkit-scrollbar-thumb {
  background: var(--slider-thumb-color);
  border-radius: 0.5em;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 1em;
}

.todo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-size: 1.3rem;
  padding: 0 0;
  border-bottom: 0.1em solid var(--border-color);
  text-wrap: nowrap;
}

.todo-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.todo-inline {
  display: inline-flex;
}

.circle-toggle {
  width: 1em;
  height: 1em;
  border: 0.1em solid var(--border-color);
  border-radius: 50%;
  align-self: flex-start;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
}

.trash-btn {
  align-self: flex-end;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  transform: translateX(1em);
}

.todo-card.toggled .trash-btn {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

@media (max-width: 768px) {
  #main-body {
    overflow-y: auto;
    width: 95%;
  }

  #main-heading {
    font-size: 1.5rem;
    text-align: center;
    padding: 1em 0;
    border-bottom: 0.2em solid var(--border-color);
  }

  #todos-display {
    padding: 0.5em;
  }

  .todo-card {
    font-size: 1rem;
    padding: 0.5em;
  }
}
