#sidebar-top-level {
  color: var(--text-color);
  background-color: var(--sidebar-color);
}

.hover-effect {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hover-effect:hover {
  color: var(--accent-color);
}

.border-bar {
  border-bottom: 0.1em solid var(--border-color);
}

#timer-display {
  margin-top: 0.5em;
}

#timer-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 90%;
  padding: 1em;
}

#timer-container p {
  font-size: 2rem;
}

#timer-section {
  display: flex;
  flex-direction: column;
}

#time-display {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
}

#time-btns {
  display: flex;
  justify-content: space-evenly;
}

.volume-slider-container {
  margin-top: 1em;
}

#quote-display {
  border-bottom: 0.1em solid var(--border-color);
  margin-top: 0.5em;
}

#settings-top-bar {
  margin-top: 0.5em;
  border-bottom: 0.1em solid var(--border-color);
}

#color-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--slider-bg-color);
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-switch-checkbox:checked + .toggle-switch-slider {
  background-color: var(--accent-color);
}

.toggle-switch-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-switch-checkbox:checked + .toggle-switch-slider:before {
  transform: translateX(1.6em);
}

#quote-text {
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.return-btn-section {
  margin-bottom: 1em;
}

.return-btn {
  color: var(--text-color);
  font-size: 2rem;
}

/* Styles the filled color parts of the track */

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 0.5em;
  border-radius: 0.5em;
  background: #ccc;
}

input[type="range"]::-moz-range-progress {
  background: var(--accent-color);
  border-radius: 0.8em;
}
